.app{

  padding-bottom: 160px;

  &__content{
    max-width: 456px;


    @include breakpoint('lg') {
      margin: 0 auto;
    }

    @include breakpoint('xl') {
      margin: 0 auto;
    }
  }

  &__title{
    font-weight: 600;
    font-size: 48px;
    line-height: 140%;
    color: $black;
    padding-bottom: 60px;
    letter-spacing: -3px;

    @include breakpoint('xs') {
      font-size: 24px;
      letter-spacing: -1px;
    }
  }

  &__holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  &__link-holder{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }

  &__image-holder{
    position: relative;

    @include breakpoint('lg') {
      margin: 0 auto;
    }

    @include breakpoint('lg') {
      margin: 0 auto;
      padding-top: 200px;
    }

    @include breakpoint('xl') {
      margin: 0 auto;
      padding-top: 200px;
    }
  }

  &__element{
    width: 568px;
    height: 354px;
    background-color: $orange;
    border-radius: 50%;

    @include breakpoint('xs') {
      display: none;
    }
  }

  &__image1{
    position: absolute;
    top: -181px;
    left: -37px;

    @include breakpoint('xs') {
      display: none;
    }

    @include breakpoint('lg') {
      top: -106px;
      left: 0;
      width: 70%;
    }

    @include breakpoint('xl') {
      padding-top: 200px;
    }
  }

  &__image2{
    position: absolute;
    top: -106px;
    left: 214px;

    @include breakpoint('xs') {
     position: center;
    }

    @include breakpoint('lg') {
      padding-top: 200px;
    }

    @include breakpoint('xl') {
      padding-top: 200px;
    }
  }
}
