.categories{

  padding-bottom: 220px;

  @include breakpoint('xs') {
    padding-bottom: 150px;
  }

  &__title-holder{
    text-align: center;
  }

  &__title{
    font-weight: 600;
    font-size: 44px;
    padding-bottom: 80px;
    color: $black;

    @include breakpoint('xs') {
      font-size: 24px;
    }
  }

  &__holder{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;


    @include breakpoint('lg') {
      width: 65%;
      margin: 0 auto;
      gap: 45px;
    }

    @include breakpoint('lg') {
      width: 65%;
      margin: 0 auto;
    }
  }

  &__link{
    position: relative;
  }

  &__image{
    &:hover{
      filter: brightness(.75);
      transition: ease-in-out 0.3s;
    }
  }

  &__link-title{
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 30px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    width: 100%;
    z-index: 2;
  }
}