.header{

  padding: 50px 0 150px;

  &__holder{
    display: flex;
    flex-wrap: wrap;
  }

  &__logo-link{
    margin-right: 130px;
  }

  &__nav-list{
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
  }

  &__nav-link{
    color: $grey;
    opacity: 0.8;
  }
}