.why-rhythm{

  background-color: $black;
  max-height: 508px;

  &__title{
    font-weight: 600;
    font-size: 44px;
    padding-bottom: 66px;
    color: white;
    text-align: center;
    padding-top: 93px;
  }
}