.hero{

  position: relative;

  &__title{
    font-weight: 600;
    font-size: 56px;
    max-width: 469px;
    line-height: 67px;
    letter-spacing: -4px;
    padding-bottom: 16px;
    color: $black;
  }

  &__text{
    color: $grey;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    max-width: 400px;
    padding-bottom: 33px;
  }

  &__orange-text{
    color: $orange;
  }

  &__link-holder{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  &__button{
    width: 192px;
    height: 60px;
    background: $orange;
    text-align: center;
    padding-top: 17px;
    border-radius: 40px;
    color: white;

    &:hover{
      background-color: $black;
    }
  }

  &__link-playmarket{
    padding-top: 12px;
  }

  &__link-apple{
    padding-top: 8px;
  }

  &__image{
    position: absolute;
    bottom: -65px;
    right: 0;

    @include breakpoint('xxl') {

    }
  }

  &__circle{
    position: absolute;
    bottom: -105px;
    right: 242px;
  }
}